.App {
  font-family: 'Gantari', sans-serif;
  text-align: center;
  background: #544a7d;
  background: -webkit-linear-gradient(to right, #ffd452, #544a7d);
  background: linear-gradient(to right, #ffd452, #544a7d);
  height: 100vh;
  padding: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
