.App {
    font-family: 'Gantari', sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
}

.bg {
    background-color: #544a7d;
    background-size: contain;
    padding: 30px;
    height: 100vh;
}

h2 {
    color: #FFFFFF;
}

.btn {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
