.phrase-box {
  color: white;
  max-width: 750px;

  &__container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    margin: 0 15px;
    cursor: pointer;
    border: 2px #ffffff solid;
    border-radius: 50px;
    padding: 0 10px;
  }

  &__button-box {
    display: flex;
    max-width: 100px;
    gap: 7px;
    align-content: center;
    align-items: center;
  }

  &__title {
    height: 30px;
    overflow: hidden;
    position: relative;
  }
  .bigger::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, transparent, #544a7d 130%);
  }

  .bigger:active:after {
  content: none;
  }
  &__recorder {
    border-radius: 50px;
    padding: 1px 6px;
  }
}
