.phrase-box {
  color: white;
  max-width: 750px;

  &__container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    margin: 0 15px;
    cursor: pointer;
    border: 2px #ffffff solid;
    border-radius: 50px;
    padding: 0 10px;
  }

  &__button-box {
    display: flex;
    max-width: 100px;
    gap: 7px;
    align-content: center;
    align-items: center;
  }

  &__title {
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }

  &__title:active {
    height: 100%;
    overflow: visible;
    white-space: pre-wrap;
  }

  &__play {
    height: 50px;
    width: 264px;
    color: white;
    background-image: url("../../assets/icon/play.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  &__recorder {
    height: 40px;
    width: 190px;
    background-image: url("../../assets/icon/micro.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
}